/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  .col-lg-12{
    border-radius: 10px;
  }

  .col-lg-3{
    border-radius: 10px;
  }
  
  .cadastroDiv{
    width: 100%;
    display: table;
    style:"display: table-row";
}
.pessoaDiv {
    width: 600px;
    display: table-cell;
}
.epiDiv {
    display: table-cell;
}
p {
    font-weight: bold;
}